:root{
  --clr-white: #fff;
  --clr-black: #000;
  --clr-goldText: #BFA181;
  --clr-softGoldBackground: rgba(191, 161, 129, 0.3);
  --clr-goldBackground: rgba(191, 161, 129, 0.55);
  --clr-blue: #3498db;
  --clr-orange: #e67e22;
  --clr-yellow: #f1c40f;
  --clr-green: #61db61;
  --clr-red: #cf3434;
  --clr--darkerOrange: #c96f21;
  --clr-purple: #7547ca;
  --clr-darkerGreen: #237623;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body{
  margin-left: 5%;
  margin-right: 5%;
  background-image: url('../../../public/background.jpg');
  background-attachment: fixed;
  background-size: 100%;
  color: #BFA181;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ab845a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #BFA181;
}